/*body {
  background-color: lightcyan !important;
}*/
#board {
  border-radius: 10px;
  height: 700px;
  width: 500px;
  border: 3px rgb(0, 167, 81) solid;
  background-image: url("https://mcdn.wallpapersafari.com/medium/23/83/p7jIFa.jpg");
  position: absolute;
  z-index: 9998;
}

#dogPic {
  border-radius: 10px;
  height: 594px;
  width: 494px;
  border: 1px solid black;
  top: 50px;
  left: 50px;
  background-image: url("https://wallpaperaccess.com/full/3019588.jpg");
  z-index: 9999;
}

#ruleBanner {
  border-radius: 10px;
  height: 100px;
  width: 494px;
  border: 3px rgb(25, 27, 35) solid;
  background-image: url("https://i.imgur.com/exMbunD.png");
}
